[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Steno Practice Start Page
Comment=Practice stenography using online tools.
Icon=/usr/share/pixmaps/plover-practice.png
Exec=/usr/bin/steno-practice-start-page
StartupNotify=true
Terminal=false
Keywords=Stenography;Input Method;Office;Education;
Categories=Education;Office;
Actions=standard;fnkeyqwertysteno;

[Desktop Action standard]
Name=Practice without changing keymap
Exec=/usr/bin/steno-practice-start-page
OnlyShowIn=Unity;

[Desktop Action fnkeyqwertysteno]
Name=Practice stenography online using fnkeyqwertysteno keymap
Exec=/usr/bin/steno-practice-start-page fnkeyqwertysteno
OnlyShowIn=Unity;
