Package: xkb-noppoo-choc84-and-fnkeyqwertysteno
Version: 0.1
Architecture: all
Maintainer: Karl M. Hegbloom <karl.hegbloom@gmail.com>
Installed-Size: 404
Recommends: plover, ibus-plover
Section: unknown
Priority: optional
Description: Keyboard geometry for Noppoo Choc mini with fnkeyqwertysteno keymap
 This package contains two XKB keyboard geometry definitions for the
 Noppoo Choc-84 / N-Key-USB mechanical keyboard. One is the standard
 qwerty layout, and the other is drawn with the function keys rotated
 180 degrees, to make the cracks between the function and number row
 keys smaller, to facilitate stenographic input utilizing those keys.
 .
 There is also an XKB symbols mapping called fnkeyqwertysteno that
 maps the function and number row keys so that they produce the
 qwertysteno home-row keysyms instead of F-key and numbers. This makes
 it possible to use this keyboard with various stenographic input
 tutor and practice web sites, for which this package also installs a
 starting point web page which can be accessed by launching the
 steno-practice-start-page script, which simply launches a web browser
 to display that html page. From there you can click on the link to a
 site where you can learn or practice stenographic input.
